<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search History</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Search History</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Название пункта</th>
                    <th>Долгота</th>
                    <th>Ширина</th>
                    <th>Последний визит</th>
                    <th>Количество посещений</th>
                </tr>
            </thead>
            <tbody>
                {% for history in history_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ history.name }}</td>
                    <td>{{ history.longitude }}</td>
                    <td>{{ history.latitude }}</td>
                    <td>{{ history.last_visited }}</td>
                    <td>{{ history.counter }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
