 <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Поиск населенного пункта</h2>
                <form method="get" action="{% url 'weather:search' %}">
                    <div class="form-group">
                        <input type="text" id="city-input" name="city" class="form-control" placeholder="Введите название" hx-get="{% url 'weather:city-autocomplete' %}" hx-trigger="keyup changed delay:500ms" hx-target="#autocomplete-results" autocomplete="">
                    </div>
                    <div id="autocomplete-results" class="list-group"></div>
                </form>
            </div>
        </div>
    <div hx-get="{% url 'weather:last_viewed_city_view' %}" hx-trigger="load">

     </div>

